@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-fondoGeneral: #FDFBF7;
    --color-textoPrincipal: #18181B;
    --color-textoCuerpo: #52525B;
    --color-botonEnlace: #C2410C;

    --font-fuentePrincipal: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-titulos: 'Plus Jakarta Sans', 'Geist Sans', ui-sans-serif, system-ui, sans-serif;
}

[x-cloak] {
    display: none !important;
}